<div class="row">
  <% 2.times do %><br /><% end %>

  <div class="grey-text uppercase center">Introducing...</div>
  <%= image_tag 'logos/paper-original.png', width: '100%' %>

  <div style="font-size: 1.3rem; text-align: justify" class="col s12 m10 offset-m1">
    <h3 style="font-size: 1.3em">Create rich worlds &mdash; and everything within them!</h3>
    <p>
      You know that <%= link_to 'smart worldbuilding notebook', 'https://www.notebook.ai' %> that's helped you create rich, fictional universes
      <%= link_to 'over four years', 'https://medium.com/indent-labs/happy-4th-birthday-to-notebook-ai-e6f69f06d169' %>
      now? Well, Notebook Paper is kind of like that, except on <em>real paper</em>. You can feel it, touch it &mdash; even 
      smell<sup class="tooltipped orange-text" data-tooltip="You can smell the paper. You probably can't smell your fictional world.">[1]</sup>
      it!
    </p>
    <p>
      Unlike a silly website that's available on every device, your printed Notebook Paper <em>is</em> your device!
      There are plenty of other benefits inherent to a physical form, too:
    </p>

    <ul class="browser-default">
      <li style="margin-bottom: 0.6em"><strong>Your universes are always available</strong> &mdash; any time you have your notebook with you.</li>
      <li style="margin-bottom: 0.6em"><strong>Your ideas are secure and private</strong> &mdash; just keep your notebook secure and private.</li>
      <li style="margin-bottom: 0.6em"><strong>You own 100% of your content</strong> &mdash; just like on Notebook.ai!</li>
    </ul>

    <p>
      If you don't have an idea in mind already, you can use Notebook Paper anyway. Every page comes with a set of questions tailored to ask about the world you're
      creating to make worldbuilding fun and easy.
    </p>

    <p>
      Rather than loading up Notebook.ai the next time you get an idea for a character, consider giving Notebook Paper a shot. 
      It's easy to get started: just print out your notebook pages and you're good to go!
    </p>
    <p>
      You can even
      doodle<sup class="tooltipped orange-text" data-tooltip="Unsurprisingly, doodling on your screen is actually not recommended on Notebook.ai. Take that, computers!">[2]</sup>
      and write notes in the margins!
    </p>
    <br /><br />
  </div>
  <div class="col s12">
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block center">
          <div class="orange-text"><i class="material-icons large">face</i></div>
          <h3 class="h6-size">Deeper characters</h3>
          <p class="light">
            Get to know your characters. Track every detail of their thoughts, appearance, family, and personality.
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block center">
          <div class="orange-text"><i class="material-icons large">public</i></div>
          <h3 class="h6-size">Richer worlds</h3>
          <p class="light">
            Immerse yourself in vibrant worlds with specialized notebook pages for your countries, cities, landmarks, and more.
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block center">
          <div class="orange-text"><i class="material-icons large">security</i></div>
          <h3 class="h6-size">No ads, ever</h3>
          <p class="light">
            It kind of feels like Notebook.ai, but paper. There's no ads on the site, why would we add ads to paper?
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12 m10 offset-m1" style="font-size: 1.3rem; text-align: justify">
    <h3 style="font-size: 1.3em">Fill your world with all kinds of specialized pages</h3>
    <p>
      Notebook Paper includes all of Notebook.ai's free and Premium pages &mdash; for free!
    </p>
    <p>
      Specialized pages are available for
      <%= 
        Rails.application.config.content_types[:all_non_universe].map { |content_type|
          link_to(
            content_type.pluralize,
            "https://www.notebook.ai/worldbuilding/#{content_type.downcase.pluralize}",
            class: "#{color_for(content_type)}-text"
          )
        }.to_sentence.html_safe
      %>.
    </p>
    <p>
      Just select which ones you want, print out your personalized PDF, and you're ready to get started!
    </p>
    <br /><br />
  </div>

  <div class="col s12" style="font-size: 1.3rem;">
    <div class="card">
      <div class="card-content">
        <div class="card-title">Start with a customized Notebook Paper download</div>
        <p style="text-align: justify">
          Your generated notebook will include a cover page, a contact page, an informational page, and any of the 
          content pages you select from below. You can always add more content pages from the links further down
          on this page!
        </p>
        <br />
        <%= form_for :paper, url: generate_paper_path do |f| %>
          <div class="row">
            <% Rails.application.config.content_types[:all_non_universe].each do |content_type| %>
              <div class="col s12 m6 l4">
                  <%= f.label content_type do %>
                    <div class="field hoverable card-panel" style="margin-bottom: 0.25em; padding: 1.25em">
                      <%= f.check_box content_type %>
                      <span class="black-text">
                        <i class="material-icons left <%= color_for(content_type) %>-text"><%= icon_for(content_type) %></i>
                        Include 2 <%= content_type %> pages
                      </span>
                    </div>
                  <% end %>
              </div>
            <% end %>
          </div>

          <div class="center">
            <%= f.submit 'Generate My Notebook Paper', class: 'btn btn-large blue white-text hoverable'%>
          </div>
          <br />
        <% end %>
      </div>
    </div>
  </div>

  <div style="font-size: 1.3rem; text-align: justify; margin-top: 50px;" class="col s12 m10 offset-m1">
    <h3 style="font-size: 1.3em">Fill your Notebook Paper with more pages</h3>
    <p>
      You can always come back here for more of your favorite worldbuilding pages. Each of the
      buttons below will generate more Notebook Paper for each piece of your world.
      Simply print the resulting PDF out as many times as you want and add those pages to your 
      Notebook Paper to keep growing your world however you want &mdash; at your pace!
    </p>
  </div>

  <% Rails.application.config.content_types[:all].each do |content_type| %>
    <div class="col s12 m4 l3">
      <%= link_to generate_individual_paper_path(content_type + '.pdf') do %>
        <div class="hoverable card">
          <div class="card-image">
            <%= image_tag asset_path("card-headers/#{content_type.downcase.pluralize}.jpg"), height: 185 %>
          </div>
          <div style="position: relative; top: -2em; left: 0.4em; height: 0; font-size: 1.5em"">
            <i class="material-icons left <%= color_for(content_type) %>-text">
              <%= icon_for(content_type) %>
            </i>
            <span class="white-text bordered-text"><%= content_type %></span>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div style="font-size: 1.3rem; text-align: justify;" class="col s12 m10 offset-m1">
    <h3 style="font-size: 1.3em">Do you want to help make Notebook Paper better?</h3>
    <p>
      You're in luck! Just like Notebook.ai itself, Notebook Paper is completely
      <%= link_to 'open source', 'https://github.com/indentlabs/notebook-paper' %>!
      This means anyone is able to view the entire source code for free, run the project itself,
      and/or suggest improvements to Notebook Paper that benefit everyone!
    </p>
    <p>
      Yes, Notebook Paper is a bit of a tongue-in-cheek April Fool's
      joke<sup class="orange-text tooltipped" data-tooltip="Because Notebook.ai was built to be a paper notebook replacement!">[3]</sup>
      but worldbuilding templates are no joke. They're a free, easy-to-use, age-old 
      technique that anyone can use to start creating fictional worlds any time they 
      want &mdash; and this project is here to stay.
    </p>
  </div>
</div>